/* 
***********************
COMMON
*********************** 
*/
body{
    background-color: lightgreen;
}

[v-cloak]{
    display: none;
}

/* 
***********************
HEADER
*********************** 
*/
header{
    border-bottom: .125rem solid black;
    background-color: rgb(14, 234, 14);
}
header h1{
    color: rgb(237, 237, 12);
}
header div{
    color: white;
}

/* 
***********************
MAIN
*********************** 
*/

/* Impostare una classe per toDoList = Done, che
sbarri il testo della lista */
.done{
    text-decoration: line-through;
}
